@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local('Roboto-Regular'),
    url('fonts/Roboto.woff2') format('woff2'),
    url('fonts/Roboto.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), 
    url('fonts/Robotolight.woff2') format('woff2'), 
    url('fonts/Robotolight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bad Script';
  src: local('Bad Script Regular'), 
    local('BadScript-Regular'), 
    url('fonts/Badscriptregular.woff2') format('woff2'), 
    url('fonts/Badscriptregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  background-color: #202024;
}
p{
  margin: 0;
}

.container{
  width: 1440px;
  margin-right: calc((100% - 1440px)*3/5);
  margin-left: calc((100% - 1440px)*2/5);
}

.gray-text{
  color: rgba(255, 255, 255, 0.6);
}
.highlight{
  color: #F6C866;
}

@keyframes slide{
	from {
    background-position-x: 0px;
	}
	to {
    background-position-x: 180px;
	}
}
.btn,.select{
  width: 311px;
  height: 69px;  
  font-size: 20px;
  line-height: 23px;
  border-radius: 50px;
  cursor: pointer;
}
.btn{
  color: #fff;
  background-color: rgba(254, 173, 53, 0.9);
  background-image: 
    linear-gradient(236deg, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0.29) 73%, rgba(255, 255, 255, 0) 82%);
  background-position-x: 0;
  animation-name:slide;
  animation-delay:0.05s;
  animation-duration:2.5s;
  animation-iteration-count: infinite;
  animation-direction:normal;
}
.select{
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 1;
  width: 311px;
  height: 69px;
  text-align: center;
  text-align-last:center;
  color: #202024;
  border-radius: 50px;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  background: linear-gradient(45deg, transparent 50%, black 50%), linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(90deg, rgba(228, 228, 228, 0.9) -6.2%, rgba(203, 203, 203, 0.9) 100%);
  background-position: calc(100% - 30px) 50%, calc(100% - 25px) 50%, 0 0;
  background-size:  5px 5px, 5px 5px, 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.quest{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}
.quest__question{
  margin-bottom: 66px;
  color: #F6C866;
}

.question{
  margin-bottom: 47px;
  text-transform: uppercase;
  color: #F6C866;
}

.quest__btn,.select{
  margin-bottom: 35px;
}

.quest__bottom-text{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
}

.section-intro{
  background: url('img/sun.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 68%;
}
.section-intro__top{
  height: 75px;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 90px;
  letter-spacing: 0.1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.section-intro__accuracy{
  margin-bottom: 432px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.1em;
}
.section-intro__container{
  background: url('img/woman1.png'), url('img/icon1.svg');
  background-repeat: no-repeat;
  background-size: 237px, 390px;
  background-position: center 234px, center 158px;
}

.section-let-us{
  padding: 143px 0 69px 0;
}
.section-let-us__text{
  position: relative;
  width: 443px;
  height: 437px;
  margin: 0 auto;
  padding: 129px 46px 84px 32px;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 3px;
  background-position: 50% -30px;
}
.element-animation{
  opacity: 0.05;
}
.element-animation.element-show {
  opacity: 1;
  transition: opacity 0.7s ease-out 0.2s;
}
.section-let-us__text::before{
  content: '';
  position: absolute;
  top: -70px;
  left: 35%;
  width: 135px;
  height: 135px;
  background: url('img/hands.png');
  background-size: cover;
}

.section-woman__container{
  position: relative;
  height: 606px;
  padding-top: 240px;
  background-image: url('img/woman2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-woman__container::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222;
  opacity: 0.8;
}
.section-woman__text{
  position: relative;
  max-width: 380px;
  margin: 0 auto;
}

.section-quest__container{
  position: relative;
  padding-top: 131px;
  padding-bottom: 152px;
}
.section-quest__container::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -46px;
  right: -125px;
  z-index: 0;
  background-image: url('img/eye.svg'), url('img/eye2.svg');
  background-repeat: no-repeat;
  background-position: 0 797px, right 448px;
  background-size: 165px, 320px;
}

.comment{
  font-family: 'Bad Script';
}
.section-quest__quest{
  position: relative;
  z-index: 1;
  margin-bottom: 115px;
}
.section-quest__comment{
  width: 300px;
  margin: 0 auto;
  padding-top: 98px;
  padding-bottom: 100px;
  background-image: url('img/rune1.svg'), url('img/rune2.svg');
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  background-size: 57px;
}


@media (max-width: 1440px) {
  .container{
    margin: 0 auto;
    width: auto;
  }
}

@media (max-width: 639px) {
  .quest{
    max-width: 443px;
  }
}

@media (max-width: 639px) {
  .quest{
    max-width: 443px;
  }
}

@media (max-width: 480px) {
  body{
    font-size: 16px;
    line-height: 25px;
  }

  .section-intro {
    background-position: 63%;
  }
  .section-intro__container{
    background-size: 137px, 225px;
    background-position: center 128px, center 84px;
  }
  .section-intro__top{
    height: 36px;
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 40px;
  }
  .section-intro__accuracy {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 243px;
  }

  .btn,.select{
    width: 182px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  .quest{
    max-width: 288px;
  }
  .quest__question {
    margin-bottom: 23px;
  }
  .quest__btn,.select{
    margin-bottom: 20px;
  }
  .quest__bottom-text{
    font-size: 12px;
    line-height: 14px;
  }

  .section-let-us {
    padding: 79px 0 40px 0;
  }
  .section-let-us__text{
    width: 80%;
    height: auto;
    padding: 57px 19px 15px 26px;
    background-position: 50% -30px;
  }
  .section-let-us__text::before{
    top: -41px;
    width: 78px;
    height: 78px;
  }

  .section-woman__container{
    height: auto;
    padding-top: 101px;
    padding-bottom: 80px;
  }
  .section-woman__text{
    max-width: 210px;
  }
  .highlight{
    font-size: 20px;
  }
  .section-quest__container{
    padding-top: 47px;
    padding-bottom: 69px;
  }
  .question {
    margin-bottom: 24px;
  }

  .section-quest__quest {
    margin-bottom: 63px;
  }
  .section-quest__comment{
    max-width: 235px;
    padding-top: 48px;
    padding-bottom: 43px;
    font-size: 20px;
    line-height: 28px;
    background-size: 33px;
  }
  .section-quest__container::before {
    left: -15px;
    right: -30px;
    background-position: 0 441px, right 265px;
    background-size: 14%, 24%;
  }
  .section-quest::after {
    content: "TERMENI SI CONDITII: ACESTA ESTE UN SERVICIU DE DIVERTISMENT. PRIN FOLOSIREA LUI DECLARATI CA AVETI 18 ANI IMPLINITI, ";
    display: block;
    margin: 0 auto;
    max-width: 294px;
    font-size: 7px;
    line-height: 9px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #9D9D9D;
  }
}