.container{
  max-width: 480px;
  margin: 0 auto;
}

.header{
  display: flex;
  align-items: center;
  height: 224px;
  margin-bottom: 75px;
}

.header_lined{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__container{
  margin: 0 auto;
  max-width: 415px;
}

.main__container{
  position: relative;
}
.main__container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('img/eye.svg'), url('img/eye2.svg');
  background-repeat: no-repeat;
  background-position: 24px 711px, 485px -17px;
  background-size: 90px, 166px;
  margin: -160px -100px -112px -70px;
}

.question{
  max-width: 75%;
  margin-bottom: 41px;
}
.quest{
  min-height: 690px;
}
.quest__btn{
  z-index: 1;
}
.quest__btn:last-of-type{
  margin-bottom: auto;
}
.quest__bottom-text{
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
}

.btn:focus,.select:focus{
  outline: none;
  box-shadow: 0 0 0 2pt #ddd;
}
.select-alert{
  border: 1px solid #EE5353;
}

.message{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 490px;
  height: 69%;
  color: #202024;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #fff;  
  opacity: 0;
}
.message::after{
  content: '';
  position: absolute;
  right: 40px;
  bottom: -20px;
  display: block;
  height: 0;
  width: 0;  
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
}

.caps{
  text-transform: uppercase;
}

.onset{
  opacity: 1;
  transition: opacity 3s;
}

.indicator{
  display: inline-block;
  width: 80%;
  height: 8px;
  border-radius: 5px;
  background-color: #fff;
  background-image: linear-gradient(90deg, #F6C866 100%, transparent 0%);
  background-position: 0 0;
  background-size: 0%;
  background-repeat: no-repeat;
}

.recording{
  padding-top: 200px;
  background-image: url('img/microphone.svg');
  background-repeat: no-repeat;
  background-position: center 20%;
}
.recording > *:not(:last-child){
  margin-bottom: 30px;
}

.summary-main{
  padding: 50px;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 31px;
}

.summary-texts{
  display: inline-block;
  margin-bottom: 35px;
  font-weight: 300;
}

.green-btn{
  width: 400px;
  height: 80px;
  background-color: rgba(50, 185, 73, 0.9);
  background-image: linear-gradient(236deg, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0.29) 73%, rgba(255, 255, 255, 0) 82%);
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url('img/loader.svg');
  background-position: center;
  background-size: cover;
}

.table{
  width: min-content;
  margin: 0 auto;
  border: 1px solid #fff;
  border-collapse: collapse;
}

.table td{
  padding: 4px 6px;
  border: 1px solid #fff;
}


@media (max-width: 480px) {
  .header{
    height: 124px;
    margin-bottom: 36px;
  }
  .header__container{
    width: 235px;
  }
  .comment{
    font-size: 14px;
    line-height: 20px;
  }
  .quest {
    min-height: 360px;
  }
  .main__container::before{
    background-position: 14% 83%, 82% 12%;
    background-size: 11%, 18%;
  }
  .meassge_small{
    font-size: 14px;
    line-height: 18px;
  }
  .summary-texts{
    width: 68%;
    font-size: 14px;
    line-height: 16px;
  }
  .summary-main{
    width: 80%;
    display: inline-block;
    padding: 15px;
    font-size: 16px;
  }
  .green-btn{
    width: 240px;
    height: 48px;
  }
  .table{
    font-size: 12px;
  }
}